MONGO_URI=mongodb+srv://sfallouseck1_db_user:9jk78yO2w1kQXap0@cluster0.jgnqwha.mongodb.net/?appName=Cluster0
PORT=5000
JWT_SECRET=monsecret123




BREVO_API_KEY=votre_cle_api_brevo_ici

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Server Configuration
PORT=5000
HOST=0.0.0.0
